[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gunit"]
	path = gunit
	url = https://github.com/cdmuir/gunit
[submodule "photosynthesis"]
	path = photosynthesis
	url = https://github.com/cdmuir/photosynthesis
[submodule "tealeaves"]
	path = tealeaves
	url = https://github.com/cdmuir/tealeaves
